.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-content {
  text-align: center;
}

.not-found-content h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.not-found-content p {
  font-size: 1.5rem;
}

.karpuz {
  width: 400px;
  display: flex;
  position: absolute;
  bottom: 200px;
  left: 100px;
}

.havuc {
  width: 400px;
  display: flex;
  position: absolute;
  bottom: 190px;
  left: 980px;
}
